/* palet */
:root {
  --warna1: #222831;
  --warna2: #393e46;
  --warna3: #d4af37;
  --warna4: #ffd369;
  --warna5: #eeeeee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  background-color: #222831;
}

/* navbar */
nav {
  display: flex;
  background-color: var(--warna2);
  justify-content: space-around;
  /* padding: 20px 0; */
  height: 75px;
  align-items: center;
  color: black;
}

nav .logo {
  /* letter-spacing: 1px; */
  /* background-color: aqua; */
  display: flex;
  align-items: center;
}

nav .text-logo {
  color: #fff;
  font-weight: 500;
  font-size: medium;
  padding: 0 10px;
}

nav .logo img {
  width: 45px;
}

nav ul {
  display: flex;
  list-style-type: none;
  width: 40%;
  justify-content: space-between;
  /* background-color: aqua; */
}

nav ul li a {
  /* color: black; */
  font-family: "Arimo", sans-serif;
  font-weight: bold;
  color: var(--warna3);
  text-decoration: none;
  font-size: 1em;
}

nav ul li a:hover {
  color: var(--warna4);
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 4px;
  background-color: var(--warna3);
  border-radius: 3px;
  transition: all 0.5s;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle input:not(:checked) ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-2px, -1px);
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:not(:checked) ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:not(:checked) ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* section 1 bagian 1 */
.bagian1 {
  height: 600px;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: -1;
}

.bagian1 img {
  width: 475px;
}

.bagian1-text {
  height: 300px;
  width: 320px;
  color: var(--warna3);
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bagian1-text h2 {
  font-size: 60px;
}

.bagian1-text p {
  color: var(--warna5);
  font-weight: 500;
}

/* responsive */
/* tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }

  .bagian1-bicycle {
    display: none;
  }
}

/* mobile */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 40%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: var(--warna2);
    z-index: 0;
    right: 0;
    transition: all 1s;
    opacity: 1;
  }

  nav ul.slide {
    opacity: 0;
    right: -100%;
  }

  .bagian1 {
    display: flex;
    justify-content: center; /* Untuk menengahkan konten secara horizontal */
    align-items: center; /* Untuk menengahkan konten secara vertikal */
    height: 600px;
    /* background-color: aqua; */
    position: relative;
  }

  .bagian1-bicycle {
    position: absolute;
    right: -50%; /* Menggeser gambar ke kanan sebesar 50% dari lebar konten */
    top: 50%; /* Menggeser gambar ke tengah vertikal */
    transform: translateY(-50%); /* Menyesuaikan posisi vertikal gambar */
  }

  .bagian1-bicycle img {
    width: 200px; /* Sesuaikan lebar gambar sesuai kebutuhan */
  }
}
